.container {
    display: grid;
    gap: 0.8rem;
    max-width: 232px;
    background: #e0f6fc;
    padding: 1rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;

    .type {
        font-size: 0.6rem;
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }

    .price {
        font-size: 1rem;
        font-weight: bold;
    }

    .hardware_list {
        display: grid;
        gap: 0.8rem;
    }

    .hardware {
        display: flex;
        align-items: flex-end;
        gap: 0.5rem;

        & > span {
            color: #62686c;
            font-size: 0.6rem;
        }
    }

    @media (max-width: 375px) {
        max-width: 100%;
    }
}
