.container {
    display: grid;
    gap: 0.8rem;
    min-width: 230px;
    max-width: 232px;
    background: #e0f6fc;
    padding: 1rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;

    .type {
        font-size: 0.6rem;
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }

    .price {
        font-size: 1rem;
        font-weight: bold;
    }

    .hardware_list {
        display: grid;
        gap: 0.8rem;
    }

    .hardware {
        display: flex;
        align-items: flex-end;
        gap: 0.5rem;

        & > span {
            color: #62686c;
            font-size: 0.6rem;
        }
    }

    .datacenter {
        display: flex;
        flex-direction: column;
        font-size: 0.6rem;

        & > span {
            color: #62686c;
            margin-bottom: 0.4rem;
        }

        &_switch {
            justify-content: space-between;
            display: flex;
            background: #fff;
            border-radius: 0.5rem;
            border: 1px solid #3dbdf6;

            & > div {
                cursor: pointer;
                border-radius: 0.5rem;
                padding: 0.1rem 0.5rem;
            }

            .datacenter_selected {
                background: #3dbdf6;
            }
        }
    }

    @media (max-width: 375px) {
        max-width: 100%;
    }
}
