.container {
    padding: 0.45rem 2rem;
    text-transform: uppercase;
    background-color: var(--blue1);
    border: none;
    border-radius: 0.1rem;
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.6px;
    width: fit-content;
    margin: 0 auto;
}
