.container {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 60px;
    background: #f7fafb;
    padding: 0 2rem;
    transition: 0.1s ease-in-out;
    z-index: 10;

    ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        margin-left: auto;
        font-size: 0.6rem;
        color: #7a8185;
        gap: 1.5rem;

        li {
            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 0.4rem;
            align-items: center;
            cursor: pointer;
        }
    }

    @media (max-width: 768px) {
        padding: 0 1rem;
    }
}
