.label {
    display: block;
    font-size: 0.6rem;
    color: #7a8185;
    margin-bottom: 0.6rem;
}

.container {
    [class$="-container"] {
        max-width: 300px;
        font-size: 0.8rem;
    }
    [class$="-control"] {
        border-width: 2px;
        border-color: var(--gray3);

        &:hover {
            border-color: #939da2;
        }
        &:focus {
            border-color: #939da2;
        }
    }
    [class$="-indicatorSeparator"] {
        display: none;
    }
    [class$="-option"] {
        color: #000;

        &:hover {
            background-color: var(--blue1);
            color: #fff;
        }
    }
}
